doctype
html
	head
		title This is Google login page
		link(rel='stylesheet', href='/style.css')
	body
		div.container
			h1 This is Google login page.
			h2 Please press the button and sign in.
			div.login-form
				span Login
				input
				span Password
				input
				a.login-button(href='/auth/google') SIGN IN