body {
    background-color: grey;
    font-family: 'Lobster', cursive;
}

h1, h2 {
    font-size: 36px;
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://images.pexels.com/photos/626155/pexels-photo-626155.jpeg?h=350&auto=compress&cs=tinysrgb);
    background-size: cover;
    color: white;
}

.login-form {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    
    color: white;
}

input {
    margin: 10px 0;
    border: 1px solid black;
    box-shadow: 1px 2px;
    font-size: 16px; 
}


.login-button {
	text-decoration: none;
    width: 100px;
    margin: 30px 10px;
    display: inline-block;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    box-shadow: 1px 2px;
    background-color: white;
    border-radius: 5px;
}

